<div class="my-3">
    <h2>Take, TakeLast and TakeUntil</h2>
    <br>
    <p class="bg-light py-2 px-3 border rounded">Random Names: 'a', 'b', 'c', 'd', 'e', 'f', 'g'
        </p>
    <div class="row">
        <div class="col-md-4">
            <strong>EX-01 | Take(5)</strong>
            <hr>
            <ul id="elContainer"></ul>
        </div>
        <div class="col-md-4">
            <strong>EX-02 | TakeLast(5)</strong>
            <hr>
            <ul id="elContainer2"></ul>
        </div>
        <div class="col-md-4">
            <strong>EX-03 | TakeUntil(condition)</strong>
            <hr>
            <ul id="elContainer3"></ul>
        </div>
    </div>
</div>